.urna {
    background-color: silver;
    width: 1200px;
    height: 600px;
    display: flex;
    margin: auto;
    margin-top: 160px;
    border-radius: 50px;
}
.tela h1 {
    display: flex;
    margin-top: 200px;
    font-size: 60px;
}


.titutecla {
    width: 400px;
    height: 500px;
    
}

.titulo {
    font-size: 35px;
    display: flex;
    justify-content: end;
    background-color: white;
    margin-left: 45px;
    height: 100px;
    color: black;
    width: 400px;
    margin-top: 20px;
    border-radius: 20px;
    

}
.titulo img {
    border-radius: 20px;
}
h1 {
    font-size: 30px;
    margin-left: 80px;
    margin-top: 15px;
}

.tela {
    width: 700px;
    height: 500px;
    background-color: white;
    margin-left: 30px;
    margin-top: 60px;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    box-sizing: border-box;
    
}

.teclado {
    width: 400px;
    height: 450px;
    background-color: black;
    margin-top: px;
    margin-left: 45px;
    border-radius: 20px;

}


button {
    background-color: black;
    color: white;
    
    
}
.teclaPreta{
    width: 70px;
    height: 70px;
    font-size: 30px;
    
}
.numeros {
    padding-top: 50px;
 }

.umtres {
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.quatroseis {
    display: flex;
    justify-content: center;
    gap: 30px;
    
    
}

.setenove {
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.zirou {
    display: flex;
    justify-content: center;
    
}

.confirmacoes {
    padding-top:30px ;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.teclaConfirma {
    background-color: green;
    color: black;
    height: 60px;
    width: 80px;
    margin-bottom: 50px;

}

.teclaCorrige {
    background-color: red;
    color: black;
    height: 50px;
    width: 80px;

}

.teclaBranco{
    background-color: white;
    color: black;
    height: 50px;
    width: 80px;

}
.infos{
    background-color: red;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.infos_cargo{
    margin: 0 auto;
    margin-bottom: 50px;
}
.infos h4{
    margin: 20px 0;
}
.imagens{
    background-color: blue;
    width: 30%;
    display: flex;
}